@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&family=Nunito:ital,wght@0,300;1,300&family=Roboto+Condensed:ital@0;1&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Lato&family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&family=Nunito:ital,wght@0,300;1,300&family=Poppins:wght@200;300&family=Roboto+Condensed:ital@0;1&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #ffffff;
  --primaryColor: #2a3640;
  --secondaryColor: #ffffff;
  --txtColor: #2f3640;
}
body {
  position: relative;
}
.Navbar {
  padding: 15px 0px;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .Logo {
    width: 100px;
    height: 70px;
  }
  .Menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    gap: 35px;
    list-style: none;

    .dropbtn {
      background-color: #04aa6d;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .Menu_v1 {
      transition: 0.4s ease-in-out all;
      border-radius: 10px;
      padding: 5px 0px;
      position: relative;
      display: inline-block;
    }
    .text-menu {
      padding: 0px 15px;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 1.3rem;
      font-style: Light;
      font-weight: 300;
      color: #000;
    }
    .text-submenu {
      font-family: "Poppins", sans-serif;
      font-size: 0.9rem;
      font-style: Light;
      font-weight: 300;
      color: #000;
    }
    .m2 {
      overflow: hidden;
      list-style: none;
      height: 0px;
      transition: 0.4s ease-in-out all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .m2 a {
      margin-top: 5px;
      padding: 10px 23px;
      color: black;
      text-align: center;
      text-decoration: none;
      display: block;
    }

    .m2 a:hover {
      border-radius: 10px;
      color: #fff;
      background: #2a3640;
      box-shadow: 0px 0px 6px var(--primaryColor);
    }

    .Menu_v1:hover .m2 {
      height: max-content;
      transition: 0.4s ease-in-out all;
    }
    .Menu_v1:hover .text-menu {
      color: #fff;
      transition: 0.4s ease-in-out all;
    }
    .Menu_v1:hover {
      transition: 0.4s ease-in-out all;
      background: #2a3640;
      box-shadow: 0px 0px 6px var(--primaryColor);
    }
  }
  .searchBox {
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
  }
  .searchBox:hover {
    box-shadow: 0px 0px 6px var(--primaryColor);
  }
  .searchBox:hover > .searchInput {
    width: 120px;
    padding: 0 6px;
    margin-left: 10px;
  }
  .searchBox:hover > .searchButton {
    background: var(--secondaryColor);
    color: var(--txtColor);
  }
  .searchButton {
    color: var(--secondaryColor);
    border: none;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    img {
      width: 25px;
      height: 25px;
    }
  }
  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    margin-left: 0px;
  }
}
.filtro {
  border-top: 1px solid rgb(212, 205, 205);
  position: relative;
  margin: auto;
  width: 86vw;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  .busqueda {
    margin-top: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: #20394d;
      transition: 0.4s ease-in-out all;
      border-radius:10px;
    }
    &:hover::after {
      transition: 0.4s ease-in-out all;
      width: 100%;
    }
    &:hover{
      color:#fff;
    }
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-style: Light;
  font-weight: 300;
  text-align: center;
  margin-top: 150px;
}
.Productos {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-evenly;
  .producto {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    width: 15rem;
    height: 23rem;
    border-radius: 4px;
    top: -1.5em;
    &:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.849);
    }
    .imagen {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: 12rem;
      width: 12rem;
      background-color: rgb(39, 35, 35);
      img {
        cursor: pointer;
        margin-left: 5px;
        margin-top: 5px;
      }
    }
    .compra {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h2 {
        margin-left: 25px;
        font-family: "Myriad Pro", "Arial", sans;
        font-size: 0.9rem;
        font-style: Light;
        font-weight: 300;
        color: #000;
        cursor: pointer;
      }
      .title {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-style: Light;
        font-weight: 300;
        margin: 20px auto;
        cursor: pointer;
      }
      .precio {
        cursor: pointer;
        border-radius: 5px;
        margin: 0px auto;
        width: 150px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        h2 {
          font-family: "Poppins", sans-serif;
          font-size: 1.1rem;
          font-style: Light;
          font-weight: 300;
        }
        img {
          width: 25px;
          height: 25px;
        }
        &:hover {
          background-color: #2a3640;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.849);
        }
        &:hover h2 {
          color: #fff;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(3, 3, 3);
  padding: 60px 0px;
  .Nosotros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h1 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
    .Icons {
      display: flex;
      gap: 25px;
    }
    width: 28vw;
  }

  .Contacto {
    width: 28vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h1 {
      text-align: center;
    }
    ul {
      li i {
        padding: 0px 15px;
      }
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }
  }

  .Maps {
    width: 28vw;
  }
}

@media only screen and (max-width: 1022px) {
  .Navbar {
    padding: 20px 0px;
    flex-direction: column;
    gap: 15px;
    .Menu {
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      .Menu_v1 {
        width: 100vw;
      }
      .m1::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        width: 100%;
        height: 0%;
        transition: all 0.4s ease-in-out;
      }
      .m1:hover::after {
        height: 100%;
        background-color: #2a3640;
      }
      .m1:hover > a {
        color: #fff;
      }
    }
  }
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-style: Light;
  font-weight: 300;
  .title {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-style: Extralight;
    font-weight: 300;
  }

  .Icons {
    .fa-facebook-f {
      color: rgb(32, 36, 243);
    }
    .fa-whatsapp {
      color: rgb(9, 109, 26);
    }
    .fa-instagram {
      color: rgb(238, 136, 53);
    }
    .fa-youtube-play {
      color: rgb(241, 35, 35);
    }
  }
}
